article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


$sans: 'Open Sans', sans-serif;
$serif: 'Roboto Slab', serif;

$lightblue: #7BC0FF;
$darkblue: #2B4862;
$orange: #F1B04D;

@mixin button {
	font-family: $sans;
	text-transform: uppercase;
	color: #fff;
	background: $orange;
	padding: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 5px 5px 0 $darkblue;
	text-shadow: 1px 1px 0 $darkblue;
	border: 1px solid transparent;
	transition: all 0.5s ease;
	font-weight: 700;
	letter-spacing: 4px;
	cursor: pointer;
}

@mixin buttonHover {
	background: darken($orange, 10);
	color: darken(#fff, 5);
	border: 1px solid $darkblue;
}

@mixin buttonActive {
	background: darken($orange, 10);
	color: darken(#fff, 5);
	border: 1px solid $darkblue;
	box-shadow: 1px 1px 0 $darkblue;
}

@mixin socialButton {
	color: #fff;
	background: $darkblue;
	font-family: $sans;
 	text-align: center;
	font-size: .7rem;
	letter-spacing: 1px;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 3px 4px;
	transition: all 0.5s ease;
}


html {
	font-size: 16px;
	font-family: $serif;
	color: $darkblue;
	min-height: 100%;
}

body {
	text-align: center;
	background: linear-gradient(lighten($lightblue, 15),$lightblue);
}

.wrapper {
	max-width: 1000px;
	margin: 50px auto;
	background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)), url("images/concrete_seamless.png");
	padding: 25px;
	box-shadow: 10px 15px 0 $darkblue;
	border-radius: 10px;
}

h1,
h2,
h3,
h4 {
	font-family: $sans;
}

h1 {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 4.7rem;
	letter-spacing: 3px;
	text-shadow: 4px 4px 0 rgba(255, 255, 255, 0.8), 10px 10px 0 transparentize($darkblue, 0.4);
	span {
		color: $orange;
	}
}

#map {
	position:relative;
	top:0;
	bottom:0;
	height: 350px;
	margin: 50px auto;
	// border-radius: 10px;
	border: 2px solid $darkblue;
}

.submitForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	.inputContainer {
		width: 72%;
		.userInputField {
			width: 100%;
			padding: 20px;
			border: 2px solid lighten($darkblue, 10);
		}
	}
}

label {
	text-transform: uppercase;
}

.input {
	margin-bottom: 20px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px lighten($darkblue, 65) inset;
}


.submitBtn {
	width: 300px;
	font-size: 1.5rem;
	@include button;
	&:hover {
		@include buttonHover;
	}
	&:active {
		@include buttonActive;
	}
}

.chooserContainer {
	display: flex;
	flex-direction: row;
	width: 300px;
	padding: 0;
	justify-content: space-between;
	margin-bottom: 20px;
	label {
		width: 48%;
		@include button;
		&:hover {
			@include buttonHover
		}
		&:active {
			@include buttonActive
		}
	}
}

.chooserContainer #coffeeRadio:checked ~ label[for=coffeeRadio],
.chooserContainer #beerRadio:checked ~ label[for=beerRadio] {
	@include buttonActive
}

input[type=radio] {
margin: 0 10px;
display: none;
}

.resultsContainer {
	background: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	border: 2px solid $darkblue;
	margin-top: 50px;
	padding: 25px;
}

.venueContainer {
	padding: 1%;
	width: 30%;
	p {
		margin: 0;
		font-weight: 300;
	}
	a {
		color: $darkblue;
		transition: all 0.5s ease;
		&:hover {
			color: $orange;
		}
	}
	span {
		color: $orange;
	}
}

.resultsContainer img {
	border-radius: 5px;
	max-width: 100%;
}

.hide {
	display: none;
	transition: all 0.5s ease;
}

.social-box {
	margin-top: 25px;
	// padding: 10px;
	// border: 2px solid $darkblue;
}

// .twitter-button {
//  @include socialButton;
// margin-top: 20px;
// }




// MODAL STYLES//

.modal-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999999999;
	display: flex;
	transform: scale(1.3);
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
}

.modal-container.show {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.overlay {
	background: rgba(0,0,0,0.4);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

.modal {
	max-width: 500px;
	background: transparentize(#fff, 0.1);
	padding: 20px;
	position: relative;
	z-index: 10;
	margin: auto;
	border-radius: 10px;
	box-shadow: 10px 15px 0 transparentize($darkblue, 0.4);
	h5 {
		margin: 10px 0 0px 0;
	}
	a {
		color: $darkblue;
	}
}

.close-button {
	position: absolute;
	right: -15px;
	top: -15px;
	display: flex;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: transparentize($orange, .1);
	box-shadow: 2px 3px 0 transparentize($darkblue, 0.4);
}

.close-button i {
	margin: auto;
	color: #fff;
}

.show-button {
	cursor: pointer;
	position: fixed;
	bottom: 0;
	right: 0;
  width: 0px;
  height: 0px;
  border-left: 25px solid transparent;
  border-right: 25px solid $darkblue;
  border-bottom: 25px solid $darkblue;
  border-top: 25px solid transparent;
  span {
  	position: relative;
	  color: #fff;
  	bottom: 0;
  	right: -7px;
  }
}




/*MEDIA QUERIES*/

@media all and (max-width: 1020px) {
	.wrapper {
		margin: 50px 10px;
	}
}

@media all and (max-width: 800px) {
	.wrapper {
		margin: 25px 10px;
	}
}

@media all and (max-width: 700px) {
	.resultsContainer {
		padding: 15px 10px;
	}
	.venueContainer {
		width: 100%;
		margin-bottom: 35px;
	}
}

@media all and (max-width: 525px) {
	h1 {
		font-size: 4rem;
	}
}

@media all and (max-width: 485px) {
	.wrapper {
		margin: 10px;
	}
	h1 {
		font-size: 3.5rem;
	}
	.submitForm {
		.inputContainer {
			width: 100%;
		}
	}
	.chooserContainer {
		width: 100%;
	}
	.submitBtn {
		width: 100%;
	}
}

@media all and (max-width: 405px) {
	h1 {
		font-size: 2.5rem;
		text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.8), 5px 5px 0 transparentize($darkblue, 0.4);
	}
}
