article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  color: #2B4862;
  min-height: 100%;
}

body {
  text-align: center;
  background: -webkit-linear-gradient(rgba(0, 111, 255, 0.3), rgba(0, 111, 255, 0.3)), url("images/patterns/shattered.png");
  background: linear-gradient(rgba(0, 111, 255, 0.3), rgba(0, 111, 255, 0.3)), url("images/patterns/shattered.png");
}

.wrapper {
  max-width: 1000px;
  margin: 50px auto;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)), url("images/concrete_seamless.png");
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)), url("images/concrete_seamless.png");
  padding: 25px;
  box-shadow: 10px 10px 0 rgba(43, 72, 98, 0.9);
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 4.7rem;
  letter-spacing: 3px;
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.8), 8px 8px 0 rgba(43, 72, 98, 0.6);
}

h1 span {
  color: #F1B04D;
}

#map {
  width: 90%;
  position: relative;
  top: 0;
  bottom: 0;
  height: 350px;
  margin: 0 auto 50px auto;
  border: 2px solid #2B4862;
}

.locationLabel {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.submitForm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.submitForm .inputContainer {
  width: 75%;
}

.submitForm .inputContainer .userInputField {
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  border: 2px solid #3b6285;
  border-radius: 0;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.submitForm .inputContainer .userInputField:hover,
.submitForm .inputContainer .userInputField:focus {
  box-shadow: 4px 4px 0 rgba(43, 72, 98, 0.9);
}

label {
  text-transform: uppercase;
}

.input {
  margin-bottom: 20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e5edf4 inset;
}

.submitBtn {
  width: 100%;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: #F1B04D;
  padding: 20px;
  border: none;
  border-radius: 0;
  box-shadow: 4px 4px 0 rgba(43, 72, 98, 0.9);
  text-shadow: 1px 1px 0 #2B4862;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  font-weight: 700;
  letter-spacing: 4px;
  cursor: pointer;
}

.submitBtn:hover {
  background: #ed9b1e;
  color: #f2f2f2;
  border: 1px solid #2B4862;
}

.submitBtn:active {
  background: #ed9b1e;
  color: #f2f2f2;
  border: 1px solid #2B4862;
  box-shadow: 1px 1px 0 #2B4862;
}

.button-container {
  width: 50%;
  margin: 50px 0;
}

.button-container .chooserContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.button-container .chooserContainer label {
  width: 47.5%;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: #F1B04D;
  padding: 20px;
  border: none;
  border-radius: 0;
  box-shadow: 4px 4px 0 rgba(43, 72, 98, 0.9);
  text-shadow: 1px 1px 0 #2B4862;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  font-weight: 700;
  letter-spacing: 4px;
  cursor: pointer;
}

.button-container .chooserContainer label:hover {
  background: #ed9b1e;
  color: #f2f2f2;
  border: 1px solid #2B4862;
}

.button-container .chooserContainer label:active {
  background: #ed9b1e;
  color: #f2f2f2;
  border: 1px solid #2B4862;
  box-shadow: 1px 1px 0 #2B4862;
}

.chooserContainer #coffeeRadio:checked ~ label[for=coffeeRadio],
.chooserContainer #beerRadio:checked ~ label[for=beerRadio] {
  background: #ed9b1e;
  color: #f2f2f2;
  border: 1px solid #2B4862;
  box-shadow: 1px 1px 0 #2B4862;
}

input[type=radio] {
  margin: 0 10px;
  display: none;
}

.resultsContainer {
  width: 90%;
  margin: 0 auto;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("images/patterns/hexellence.png");
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("images/patterns/hexellence.png");
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #2B4862;
  margin-top: 50px;
  padding: 20px;
}

.resultsContainer img {
  box-shadow: 4px 4px 0 rgba(43, 72, 98, 0.9);
}

.venueContainer {
  width: 30%;
}

.venueContainer p {
  margin: 0;
  font-weight: 300;
  line-height: 1.7;
}

.venueContainer a {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  color: #2B4862;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.venueContainer a:hover {
  color: #F1B04D;
}

.venueContainer span {
  color: #F1B04D;
}

.resultsContainer img {
  max-width: 100%;
}

.hide {
  display: none;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.social-box {
  margin: 25px 0;
}

.social-box .twitter-btn {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: #F1B04D;
  padding: 20px;
  border: none;
  border-radius: 0;
  box-shadow: 4px 4px 0 rgba(43, 72, 98, 0.9);
  text-shadow: 1px 1px 0 #2B4862;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  font-weight: 700;
  letter-spacing: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
  background: #F1B04D;
  padding: 5px 10px;
}

.social-box .twitter-btn:hover {
  background: #ed9b1e;
  color: #f2f2f2;
  border: 1px solid #2B4862;
}

.social-box .twitter-btn:active {
  background: #ed9b1e;
  color: #f2f2f2;
  border: 1px solid #2B4862;
  box-shadow: 1px 1px 0 #2B4862;
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.modal-container.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin: auto;
  position: relative;
  z-index: 10;
  box-shadow: 5px 10px 0 rgba(43, 72, 98, 0.6);
}

.modal h5 {
  margin: 10px 0 0px 0;
}

.modal a {
  color: #2B4862;
}

.close-button {
  position: absolute;
  right: -15px;
  top: -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  background: rgba(241, 176, 77, 0.9);
  box-shadow: 2px 3px 0 rgba(43, 72, 98, 0.6);
}

.close-button i {
  margin: auto;
  color: #fff;
  cursor: pointer;
}

.show-button {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-left: 25px solid transparent;
  border-right: 25px solid #2B4862;
  border-bottom: 25px solid #2B4862;
  border-top: 25px solid transparent;
}

.show-button span {
  position: relative;
  color: #fff;
  bottom: 0;
  right: -7px;
}

/*MEDIA QUERIES*/
@media all and (max-width: 1020px) {
  .wrapper {
    margin: 50px 20px;
  }
}

@media all and (max-width: 800px) {
  .wrapper {
    margin: 25px 20px;
  }
  .button-container {
    width: 75%;
  }
  .inputContainer {
    width: 75%;
  }
  .inputContainer .input {
    width: 100%;
  }
}

@media all and (max-width: 700px) {
  .resultsContainer {
    padding: 15px 10px;
  }
  .venueContainer {
    width: 100%;
    margin-bottom: 35px;
  }
  .submitForm .inputContainer {
    width: 90%;
  }
  .button-container {
    width: 90%;
  }
}

@media all and (max-width: 525px) {
  h1 {
    font-size: 4rem;
  }
  .modal {
    margin: auto 5%;
  }
}

@media all and (max-width: 485px) {
  .wrapper {
    margin: 15px;
  }
  h1 {
    font-size: 3.5rem;
  }
  .submitForm .inputContainer {
    width: 100%;
  }
  .button-container {
    width: 100%;
  }
  #map {
    width: 100%;
    height: 350px;
  }
  .resultsContainer {
    width: 100%;
  }
}

@media all and (max-width: 405px) {
  h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.8), 5px 5px 0 rgba(43, 72, 98, 0.6);
  }
}
